@import url(https://fonts.googleapis.com/css?family=Helvetica+Neue:300,400,700);
/* @import url('https://fonts.cdnfonts.com/css/helvetica-neue-5'); */
@import url(https://fonts.googleapis.com/css?family=Inter);
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url('https://fonts.cdnfonts.com/css/varuna');
@import "tailwindcss";

@theme {
  --font-helvetica: 'Helvetica Neue', sans-serif;
  --font-dm: 'DM Sans', sans-serif;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-varuna: "VARUNA", sans-serif;

  --color-beige: #FFF2E0;
  --color-lightpastelblue: #C0C9EE;
  --color-pastelblue: #A2AADB;
  --color-darkpastelblue: #898AC4;
}

.text-h1 {
    font-size: 3rem /* 1.5rem = 24px */;
    line-height: var(--tw-leading, calc(3.5 / 3));
    @media (width >= 48rem /* 768px */) {
      font-size: 4rem /* 1.5rem = 24px */;
      line-height: var(--tw-leading, calc(4.5 / 4));
    }
    @media (width >= 64rem) {
      font-size: 5rem /* 1.5rem = 24px */;
      line-height: var(--tw-leading, calc(5.5 / 5));
    }
}

/* .opacity-pulse {
  opacity: 1;
  animation: opacityPulse 2s ease-in-out infinite;
}

@keyframes opacityPulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
} */
